@import "../../styles/_variables";

.category {
    padding: 2rem;

    .text-info {
        font-size: 1.25rem;
        color: #0000ff;
    }

    .text-danger {
        font-size: 1.25rem;
        color: #ff0000;
    }
}
